<!-- src = "https://wallpapercave.com/wp/wp2754864.jpg" -->

<html>
    <head>
        <title>Photo App</title>
    </head>
    <body>
        <h1><a href= "">Photo List Page</a></h1>
        <section>
            {% for photo in photos %}
            <div>
                <h2>
                    <a href="">{{photo.title}}</a>
                </h2>
                <img src="{{photo.image}}" alt="{{photo.title}}" width="300"/>
                <p>{{photo.author}}, {{photo.price}} won</p>
            </div>
            {% endfor %}
        </section>
    </body>
</html>