<html>
    <head>
        <title>Photo App</title>
    </head>
    <body>
        <h1><a href="">Photo List Page</a></h1>
        <section>
            <div>
                <h2>
                    <a href="">Blue Hill</a>
                </h2>
                <img
                  src = "https://wallpapercave.com/wp/wp2754864.jpg"
                  alt="Blue Hill"
                  width="300"
                  />
                  <p>Microsoft. 1000won</p>
            </div>
            <div>
                <h2>
                    <a href="">Blue Hill</a>
                </h2>
                <img
                  src = "https://wallpapercave.com/wp/wp2754864.jpg"
                  alt="Blue Hill"
                  width="300"
                  />
                  <p>Microsoft, 1000won</p>
            </div>
        </section>
    </body>
</html>