<html>
    <head>
        <title>Free Board App</title>
    </head>
    <body>
        <h1>List of Contents</h1>
        <section>
            <div>
                <h2>
                    <a href="">Title</a>
                </h2>
                <p>Author</p>
                <p>Description</p>
            </div>
            <div>
                <h2>
                    <a href="">Title</a>
                </h2>
                <p>Author</p>
                <p>Description</p>
            </div>
        </section>
    </body>
</html>